:root {
  --not-so-black: #1E1F26;
  --just-another-white: #fff;
  --light-gray: #EAEBED;
  --very-dark-blue: #2C303A;
  --violeta: #9D50E4;
  --vivid-blue: #00D1FF;
  --grass-green: #4CC675;
  --highlighter-yellow: #EEE82C;
  --blue-gray:  #205284;
}