.notSoBlack{
  color: #1E1F26;
}

.justAnotherWhite{
  color: #fff;
}

.veryDarkBlue{
  color: #2C303A;
}

.lightGray{
  color: #EAEBED;
}

.blueGray{
  color: #205284;
}

.vividBlue{
  color: #00D1FF;
}

.grassGreen{
  color: #4CC675;
}

.violeta{
  color: #9D50E4;
}

.highlighterYellow{
  color: #EEE82C;
}