body {
  margin: 0;
  background-color: var(--just-another-white);
}

.my-content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto 480px;
  grid-template-areas:
  "photo"
  "info"
  "title"
  "story"
  "cap"
  "pic";
  justify-items: center;
  margin: 0 32px;
}

.my-photo {
  grid-area: photo;
  background-image: url(../images/donaldo_reyes.jpg);
}

.my-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-title {
  grid-area: title;
}

.my-story {
  grid-area: story;
}

.my-image-caption {
  grid-area: cap;
  justify-self: left;
  margin: 16px 0 0 16px;
}

.my-image-caption > p {
  color: var(--blue-gray);
}

.my-image {
  grid-area: pic;
  display: flex;
  background-image: url(../images/donaldo_reyes_2.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  width: 100%;
}

@media(min-width:700px) and (max-width:1100px) {
  .my-content {
    margin: 0 64px;
  }
}

@media (min-width:1101px) {
  .my-content {
    margin: 0 128px;
  }
}