@import url(https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&family=Zilla+Slab:ital,wght@1,300&display=swap);

.menu-title {
  /* Main Menu Item */
  font-family: Sen;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  display: inline-block;
  align-items: center;
  text-transform: uppercase;

  color: var(--vivid-blue);
}

.subheader-title {

  font-family: Sen;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;

  display: flex;
  align-items: center;

  color: var(--just-another-white);
}

.subheader-subtitle {

  font-family: Sen;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;

  display: flex;
  align-items: center;

  color: var(--just-another-white);
}

h1 {
  /* Header 1 */

  font-family: Sen;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;

  display: flex;
  align-items: center;

  color: var(--not-so-black);
}

h2 {
  /* Header 2 */

  font-family: Sen;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;

  display: flex;
  align-items: center;

  color: var(--not-so-black);
}

h3 {
  /* Header 3 */

  font-family: Sen;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  
  display: flex;
  align-items: center;

  margin-top: 0;
  margin-bottom: 8px;
  color: var(--not-so-black);
}

h4 {
  /* Header 4 */
  font-family: Sen;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 0;

  color: var(--not-so-black);
}

.body-large {
  /* Body Large */

  font-family: Sen;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  color: var(--not-so-black);
}

.body-medium {
  /* Body Medium */

  font-family: Sen;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  color: var(--not-so-black);
}

.body-small {
  font-family: Sen;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: var(--not-so-black);
}

.body-xs {
  /* Body XS */
  font-family: Sen;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--not-so-black);
}

.body-justify {
  text-align: justify;
}

blockquote {
  /* Quote */
  font-family: Zilla Slab;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: var(--not-so-black);
}

.green-font {
  color: var(--grass-green);
}

.footer-font {
  font-size: 14px;
  line-height: 20px;
  color: var(--just-another-white);
}